.info-card {
  padding: 0 5px;
}
.info-primary {
  background-color: #800000;
}
.info-dark {
  background-color: #330000;
  opacity: 0.8;
}
.info-container {
  height: 100px;
  padding: 40px;
  border-radius: 8px;
}
.info-icon {
  font-size: 3em;
}
